---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignOperands: DontAlign
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
ColumnLimit: 0
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IndentWidth: 4
LambdaBodyIndentation: OuterScope
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpaceInEmptyParentheses: true
SpacesBeforeTrailingComments: 2
AlignTrailingComments: true
SpacesInAngles: true
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
TabWidth: 4
UseTab: ForIndentation
...
